[options]
admin_passwd = CHANGE_ME_MASTER_PASSWORD

db_host = db
db_port = 5432
db_user = odoo
db_password = CHANGE_ME_DATABASE_PASSWORD

addons_path = /usr/lib/python3/dist-packages/odoo/addons,/mnt/extra-addons
data_dir = /var/lib/odoo

list_db = True
proxy_mode = False
log_level = info